.slick-dots.slick-dots.slick-dots.slick-dots li button:before,
.slick-dots.slick-dots.slick-dots.slick-dots li.slick-active button:before{
  color: #eb6153;
}
.slick-dots.slick-dots.slick-dots.slick-dots li:first-child button:before,
.slick-dots.slick-dots.slick-dots.slick-dots li:last-child button:before,
.slick-dots.slick-dots.slick-dots.slick-dots li:first-child.slick-active button:before,
.slick-dots.slick-dots.slick-dots.slick-dots li:last-child.slick-active button:before{
  color: transparent;
}

.slick-dots{
  bottom: -230px;
}

.slick-dots li button:before{
  font-size: 15px;
}

/* .slick-dots li button {
  text-align: center;
} */

.slick-dots li button:before
/* .slick-dots li button */
/* .slick-dots li */
{
  width: 15px;
  height: 15px;
}

.slick-dots .arrow{
  width: 14.652px;
  height: 22.6px;
}

.slick-dots li{
  /* margin: 0 39.38px; */
  margin: 0 19.69px;
}