  .dot::after {
    content: '';
    background-color: #EB6153;
    width: 10px;
    height: 10px;
    display: block;
  }

  .bg-57dce794 {
    background-color: #EDEDEC;
  }

  .bg-57dce795 {
    background-color: #EFCDB7;
  }

  .color-57dce795 {
    color: #EB6153;

  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(235, 97, 83)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .btn-57dce795 {
    color: #EB6153;
    border: 2px solid #EB6153;
    border-radius: 20px;
    padding: 6px 30px;
  }

  .btn-57dce795:focus {
    box-shadow: 0 0 0 0.2rem rgba(239, 205, 183, .25);
  }

  .btn-57dce795:hover {
    color: #EFCDB7;
  }

  .textUnderLine {
    border-bottom: 3px solid #EB6153;
  }

  .layer6Foods {
    top: -31px;
    right: -11px;
    transform: rotate(20deg);
    width: 260px;
  }

  .colorWhite {
    color: #fff;
  }

  .fz-25px {
    font-size: 25px;
  }

  .fz-45px {
    font-size: 45px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .z-100 {
    z-index: 100;
  }

  .navbar-57dce995 {
    background-color: rgba(255, 255, 255, .53);
  }

  .width-150px {
    width: 150px;
  }

  .w-60px {
    width: 60px;
  }
