/* 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  background: #E0E0E0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.navigation{
  position: relative;
  width: 29px;
  height: 26px;
}

.navigation .navigation__checkbox {
  display: none;
}
.navigation .navigation__button {
  /* background-color: #fff; */
  /* height: 7rem;
  width: 7rem; */
  height: auto;
  width: auto;
  /* position: fixed; */
  position: relative;
  /* top: 6rem; */
  /* right: 6rem; */
  /* border-radius: 50%; */
  z-index: 2000;
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
  text-align: center;
  cursor: pointer;
  margin: 0;
}
.navigation .navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  /* position: fixed; */
  /* top: 6.5rem; */
  /* right: 6.5rem; */
  position: absolute;
  top: -38px;
  right: -35px;
  background-image: radial-gradient(#D26757, #D26757);
  /* background-image: radial-gradient(#03A9F4, #03A9F4); */
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transform: scale(0);
}
.navigation .navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}
.navigation .navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation .navigation__item {
  margin: 1rem;
}
.navigation .navigation__link:link, .navigation .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  /* padding: 1rem 2rem; */
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s;

}
.navigation .navigation__link:link span, .navigation .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation .navigation__link:hover, .navigation .navigation__link:active {
  background-position: 100%;
  /* color: #90CAF9; */
  color: #D26757;
  transform: translateX(1rem);
}
.navigation .navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation .navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.navigation .navigation__icon {
  font-size: 8px;
  position: relative;
  /* margin-top: 3.5rem; */
}
.navigation .navigation__icon, .navigation .navigation__icon::before, .navigation .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #B0BEC5;
  display: inline-block;
}
.navigation .navigation__icon::before, .navigation .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}
.navigation .navigation__icon::before {
  top: -10px;
  /* background-image: url('../images/20200327_cutPic/element/burger.png'); */
}
.navigation .navigation__icon::after {
  top: 10px;
}
.navigation .navigation__button:hover .navigation__icon::before {
  top: -10px;
}
.navigation .navigation__button:hover .navigation__icon::after {
  top: 10px;
}
.navigation .navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
  visibility: hidden;
}
.navigation .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  visibility: visible;
}
.navigation .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  visibility: visible;
}


.navigation .navigation__icon,
.navigation .navigation__icon::before, 
.navigation .navigation__icon::after{
  background-color: transparent;
  width: 30px;
  height: 5px;
}

.navigation .navigation__icon{
  background-image: url('../images/20200413_bar/burger.png');
}
.navigation .navigation__icon::before{
  background-image: url('../images/20200413_bar/burger2.png');
}
.navigation .navigation__icon::after{
  background-image: url('../images/20200413_bar/burger3.png');
}


/* == -- == */
.banner .logo.logo.logo{
  max-width: 195.204px;
  height: 85.903px;
  margin: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.languageList {
  margin-right: 55px;
  /* line-height: 1; */
}
.languageList > * {
}
.languageList .chinese{
  /* width: 28px; */
  /* height: 13px; */
}
.languageList .japanese{
/* width: 43px; */
/* height: 13px; */
}
.languageList .divider{
  /* width: 26px;
  height: 18px; */
  font-size: 25px;
  width: 35px;
  transform: rotate(18deg);

}
