/* https://codepen.io/JackyHuang/pen/GRpjJWO - 備用資源 */
/* https://codepen.io/JackyHuang/pen/PoPGXRz -  */

.bannerContent {
  height: 1000px;
}

.banner .bannerLogo {
  margin-top: 83.5px;
  margin-left: 277.707px;
}

/* == staff == */
.banner .staffImgArea {
  top: 486px;
  left: 336px;
  width: 452px;
  height: 426px;
  /* border: 1px solid #000; */
}

.banner .staffImgArea .staffImg {
  width: 100%;
}
.banner .staffImgArea .staffImg_1 {
  bottom: 0;
  right: 100px;
}
.banner .staffImgArea .staffImg_2 {
  bottom: 0;
  right: 70px;
}
.banner .staffImgArea .font{
  /* animation:  swingggg ease-in-out 1s alternate; */
  /* transform-style: preserve-3d; */
  
  left: -129px;
  top: 26px;

}


.banner .top100OfImgArea .fontAnim,
.banner .aboutImgArea .fontAnim,
.banner .howToUseImgArea .fontAnim,
.banner .staffImgArea .fontAnim{
  /* animation:  swingggg2 ease-in-out 1s alternate; */
  animation:  swingggg2 ease-in-out 1s;
  transform-style: preserve-3d;
  display: inline-block;
  opacity: 0;
  animation-fill-mode: both;
}

.banner .staffImgArea:hover,
.banner .top100OfImgArea:hover,
.banner .aboutImgArea:hover,
.banner .howToUseImgArea:hover,
.banner .staff:hover{
  transition: transform .4s ease-in-out;
  transform: translateY(-15px);
}

.banner .staffImgArea:hover .fontAnim,
.banner .top100OfImgArea:hover .fontAnim,
.banner .aboutImgArea:hover .fontAnim,
.banner .howToUseImgArea:hover .fontAnim,
.banner .staff:hover .fontAnim{
  /* animation:  swingggg ease-in-out 1s alternate; */
  animation:  swingggg ease-in-out 1s;
  transform-style: preserve-3d;
  display: inline-block;
  opacity: 0;
  animation-fill-mode: forwards;
  /* animation-fill-mode: both; */
}

/* == howToUse == */
.banner .howToUseImgArea {
  top: 331.5px;
  left: 580px;
  height: 288px;
  width: 463px;
}
.banner .howToUseImgArea .htuImg {
  width: 100%;
}
.banner .howToUseImgArea .symbolImg {
  top: -18px;
  left: -50px;
}
.banner .howToUseImgArea .font.font{
  top: -183px;
  line-height: 115px;
  left: -27px;
}

/* == institute == */
.banner .instituteImgArea {
  top: 618.5px;
  left: 714px;
  height: 355px;
  width: 509px;
}
.banner .instituteImgArea .instituteImg {
  width: 100%;
}
.banner .instituteImgArea .lightImg {
}


/* common font setting */
.banner .staffImgArea .font,
.banner .top100OfImgArea .font,
.banner .aboutImgArea .font,
.banner .howToUseImgArea .font,
.banner .staff .font {
  height: auto;
  width: auto;
  font-weight: 600;
  color: #D26757;
  font-size: 101.16px;
  letter-spacing: -13px;
  word-spacing: -2px;
}
.banner .staffImgArea .fontAnim:nth-child(2),
.banner .top100OfImgArea .fontAnim:nth-child(2),
.banner .aboutImgArea .fontAnim:nth-child(2),
.banner .howToUseImgArea .fontAnim:nth-child(2),
.banner .staff .fontAnim:nth-child(2) {
  animation-delay: .2s;
}
.banner .staffImgArea .fontAnim:nth-child(3),
.banner .top100OfImgArea .fontAnim:nth-child(3),
.banner .aboutImgArea .fontAnim:nth-child(3),
.banner .howToUseImgArea .fontAnim:nth-child(3),
.banner .staff .fontAnim:nth-child(3) {
  animation-delay: .4s;
}
.banner .staffImgArea .fontAnim:nth-child(4),
.banner .top100OfImgArea .fontAnim:nth-child(4),
.banner .aboutImgArea .fontAnim:nth-child(4),
.banner .howToUseImgArea .fontAnim:nth-child(4),
.banner .staff .fontAnim:nth-child(4) {
  animation-delay: .6s;
}
.banner .staffImgArea .fontAnim:nth-child(5),
.banner .top100OfImgArea .fontAnim:nth-child(5),
.banner .aboutImgArea .fontAnim:nth-child(5),
.banner .howToUseImgArea .fontAnim:nth-child(5),
.banner .staff .fontAnim:nth-child(5) {
  animation-delay: .8s;
}
.banner .staffImgArea .fontAnim:nth-child(6),
.banner .top100OfImgArea .fontAnim:nth-child(6),
.banner .aboutImgArea .fontAnim:nth-child(6),
.banner .howToUseImgArea .fontAnim:nth-child(6),
.banner .staff .fontAnim:nth-child(6) {
  animation-delay: 1s;
}
.banner .staffImgArea .fontAnim:nth-child(7),
.banner .top100OfImgArea .fontAnim:nth-child(7),
.banner .aboutImgArea .fontAnim:nth-child(7),
.banner .howToUseImgArea .fontAnim:nth-child(7),
.banner .staff .fontAnim:nth-child(7) {
  animation-delay: 1.2s;
}
.banner .staffImgArea .fontAnim:nth-child(8),
.banner .top100OfImgArea .fontAnim:nth-child(8),
.banner .aboutImgArea .fontAnim:nth-child(8),
.banner .howToUseImgArea .fontAnim:nth-child(8),
.banner .staff .fontAnim:nth-child(8) {
  animation-delay: 1.4s;
}
.banner .staffImgArea .fontAnim:nth-child(9),
.banner .top100OfImgArea .fontAnim:nth-child(9),
.banner .aboutImgArea .fontAnim:nth-child(9),
.banner .howToUseImgArea .fontAnim:nth-child(9),
.banner .staff .fontAnim:nth-child(9) {
  animation-delay: 1.6s;
}
.banner .staffImgArea .fontAnim:nth-child(10),
.banner .top100OfImgArea .fontAnim:nth-child(10),
.banner .aboutImgArea .fontAnim:nth-child(10),
.banner .howToUseImgArea .fontAnim:nth-child(10),
.banner .staff .fontAnim:nth-child(10) {
  animation-delay: 1.8s;
}
.banner .staffImgArea .fontAnim:nth-child(11),
.banner .top100OfImgArea .fontAnim:nth-child(11),
.banner .aboutImgArea .fontAnim:nth-child(11),
.banner .howToUseImgArea .fontAnim:nth-child(11),
.banner .staff .fontAnim:nth-child(11) {
  animation-delay: 2.0s;
}
.banner .staffImgArea .fontAnim:nth-child(12),
.banner .top100OfImgArea .fontAnim:nth-child(12),
.banner .aboutImgArea .fontAnim:nth-child(12),
.banner .howToUseImgArea .fontAnim:nth-child(12),
.banner .staff .fontAnim:nth-child(12) {
  animation-delay: 2.2s;
}
.banner .staffImgArea .fontAnim:nth-child(13),
.banner .top100OfImgArea .fontAnim:nth-child(13),
.banner .aboutImgArea .fontAnim:nth-child(13),
.banner .howToUseImgArea .fontAnim:nth-child(13),
.banner .staff .fontAnim:nth-child(13) {
  animation-delay: 2.4s;
}
.banner .staffImgArea .fontAnim:nth-child(14),
.banner .top100OfImgArea .fontAnim:nth-child(14),
.banner .aboutImgArea .fontAnim:nth-child(14),
.banner .howToUseImgArea .fontAnim:nth-child(14),
.banner .staff .fontAnim:nth-child(14) {
  animation-delay: 2.6s;
}
.banner .staffImgArea .fontAnim:nth-child(15),
.banner .top100OfImgArea .fontAnim:nth-child(15),
.banner .aboutImgArea .fontAnim:nth-child(15),
.banner .howToUseImgArea .fontAnim:nth-child(15),
.banner .staff .fontAnim:nth-child(15) {
  animation-delay: 2.8s;
}
.banner .staffImgArea .fontAnim:nth-child(16),
.banner .top100OfImgArea .fontAnim:nth-child(16),
.banner .aboutImgArea .fontAnim:nth-child(16),
.banner .howToUseImgArea .fontAnim:nth-child(16),
.banner .staff .fontAnim:nth-child(16) {
  animation-delay: 3.0s;
}
.banner .staffImgArea .fontAnim:nth-child(17),
.banner .top100OfImgArea .fontAnim:nth-child(17),
.banner .aboutImgArea .fontAnim:nth-child(17),
.banner .howToUseImgArea .fontAnim:nth-child(17),
.banner .staff .fontAnim:nth-child(17) {
  animation-delay: 3.2s;
}
.banner .staffImgArea .fontAnim:nth-child(18),
.banner .top100OfImgArea .fontAnim:nth-child(18),
.banner .aboutImgArea .fontAnim:nth-child(18),
.banner .howToUseImgArea .fontAnim:nth-child(18),
.banner .staff .fontAnim:nth-child(18) {
  animation-delay: 3.4s;
}
.banner .staffImgArea .fontAnim:nth-child(19),
.banner .top100OfImgArea .fontAnim:nth-child(19),
.banner .aboutImgArea .fontAnim:nth-child(19),
.banner .howToUseImgArea .fontAnim:nth-child(19),
.banner .staff .fontAnim:nth-child(19) {
  animation-delay: 3.6s;
}
.banner .staffImgArea .fontAnim:nth-child(20),
.banner .top100OfImgArea .fontAnim:nth-child(20),
.banner .aboutImgArea .fontAnim:nth-child(20),
.banner .howToUseImgArea .fontAnim:nth-child(20),
.banner .staff .fontAnim:nth-child(20) {
  animation-delay: 3.8s;
}
.banner .staffImgArea .fontAnim:nth-child(21),
.banner .top100OfImgArea .fontAnim:nth-child(21),
.banner .aboutImgArea .fontAnim:nth-child(21),
.banner .howToUseImgArea .fontAnim:nth-child(21),
.banner .staff .fontAnim:nth-child(21) {
  animation-delay: 4.0s;
}
.banner .staffImgArea .fontAnim:nth-child(22),
.banner .top100OfImgArea .fontAnim:nth-child(22),
.banner .aboutImgArea .fontAnim:nth-child(22),
.banner .howToUseImgArea .fontAnim:nth-child(22),
.banner .staff .fontAnim:nth-child(22) {
  animation-delay: 4.2s;
}
.banner .staffImgArea .fontAnim:nth-child(23),
.banner .top100OfImgArea .fontAnim:nth-child(23),
.banner .aboutImgArea .fontAnim:nth-child(23),
.banner .howToUseImgArea .fontAnim:nth-child(23),
.banner .staff .fontAnim:nth-child(23) {
  animation-delay: 4.4s;
}
.banner .staffImgArea .fontAnim:nth-child(24),
.banner .top100OfImgArea .fontAnim:nth-child(24),
.banner .aboutImgArea .fontAnim:nth-child(24),
.banner .howToUseImgArea .fontAnim:nth-child(24),
.banner .staff .fontAnim:nth-child(24) {
  animation-delay: 4.6s;
}
.banner .staffImgArea .fontAnim:nth-child(25),
.banner .top100OfImgArea .fontAnim:nth-child(25),
.banner .aboutImgArea .fontAnim:nth-child(25),
.banner .howToUseImgArea .fontAnim:nth-child(25),
.banner .staff .fontAnim:nth-child(25) {
  animation-delay: 4.8s;
}
.banner .staffImgArea .fontAnim:nth-child(26),
.banner .top100OfImgArea .fontAnim:nth-child(26),
.banner .aboutImgArea .fontAnim:nth-child(26),
.banner .howToUseImgArea .fontAnim:nth-child(26),
.banner .staff .fontAnim:nth-child(26) {
  animation-delay: 5.0s;
}
.banner .staffImgArea .fontAnim:nth-child(27),
.banner .top100OfImgArea .fontAnim:nth-child(27),
.banner .aboutImgArea .fontAnim:nth-child(27),
.banner .howToUseImgArea .fontAnim:nth-child(27),
.banner .staff .fontAnim:nth-child(27) {
  animation-delay: 5.2s;
}
.banner .staffImgArea .fontAnim:nth-child(28),
.banner .top100OfImgArea .fontAnim:nth-child(28),
.banner .aboutImgArea .fontAnim:nth-child(28),
.banner .howToUseImgArea .fontAnim:nth-child(28),
.banner .staff .fontAnim:nth-child(28) {
  animation-delay: 5.4s;
}
.banner .staffImgArea .fontAnim:nth-child(29),
.banner .top100OfImgArea .fontAnim:nth-child(29),
.banner .aboutImgArea .fontAnim:nth-child(29),
.banner .howToUseImgArea .fontAnim:nth-child(29),
.banner .staff .fontAnim:nth-child(29) {
  animation-delay: 5.6s;
}
.banner .staffImgArea .fontAnim:nth-child(30),
.banner .top100OfImgArea .fontAnim:nth-child(30),
.banner .aboutImgArea .fontAnim:nth-child(30),
.banner .howToUseImgArea .fontAnim:nth-child(30),
.banner .staff .fontAnim:nth-child(30) {
  animation-delay: 5.8s;
}

.banner .aboutImgArea .font,
.banner .howToUseImgArea .font,
.banner .staff .font{
  left: -80px;
}

/* == about == */
.banner .aboutImgArea {
  top: 146px;
  left: 935.5px;
  width: 459px;
  height: 446px;
}
.banner .aboutImgArea .aboutImg {
  width: 100%;
}
.banner .aboutImgArea .airplaneImg {
  top: 45px;
  left: 75px;

/* 完成要打開 */
  animation: move 4s infinite;
}
.banner .aboutImgArea .taxiImg {
  right: 37px;
  bottom: -26px;
}

.banner .aboutImgArea .font{
  top: -50px;
  left: -53px;
}

/* == top100Oftaiwanese foods == */
.banner .top100OfImgArea {
  top: 521px;
  left: 1207px;
  width: 433px;
  height: 419px;
}
.banner .top100OfImgArea .foodsImg {
  width: 100%;
}
.banner .top100OfImgArea .lanternImg {
  top: 23px;
  right: 106px;
}
.banner .top100OfImgArea .font {
  width: 125%;
  text-align: right;
  top: -133px;
  right: -25px;
  z-index: 1;
  line-height: 1.3;
}

@keyframes move {
  0% {
    opacity: 0;

    transform: translate(0, 0);
  }
  10%{
    opacity: 0.4;
  }
  /* 25% {
    transform: translate(-1rem, -1rem);
  } */
  50%{
    opacity: 1;
  }
  /* 50% {
    transform: translate(1.5rem, 1.5rem);
  } */
  /* 75% {
    transform: translate(-2rem, -2rem);
  } */
  100% {
    opacity: 0;

    transform: translate(2.5rem, 2.5rem);
  }
}


/* swing3 */
/* 完成要打開 */
.swing3 {
  animation: swing3 ease-in-out 3s infinite alternate;
  transform-origin: center -20px;
}

@keyframes swing3 {
  0% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

@keyframes swingggg {
  0%{
     
    opacity: 0;
    transform: translateX(50px) rotateY(180deg);
  }
 
  100%{
     
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}
@keyframes swingggg2 {
  0%{
     
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
  100%{
     
    opacity: 0;
    transform: translateX(50px) rotateY(180deg);
  }
 
  
}

/* 滑鼠過去那個區塊得東西會浮起 字飄起來
他們希望 字是一個個浮起來 而不是整個
如果太吃效能 就整個 */

