.foodMenuNavbar{

}

.foodMenuNavbar .nav-link{
  margin: 0 17px;
  position: relative;
}

.foodMenuNavbar .nav-link::before,
.foodMenuNavbar .nav-link::after{
  content: '';
  height: calc(100% - 16px); /* padding */
  width: 4px;
  background-color: transparent;
  position: absolute;
}

.foodMenuNavbar .nav-link::before{
  left: 0;
}

.foodMenuNavbar .nav-link::after{
  right: 0;
}

.foodMenuNavbar .dropdown-toggle::after{
  border: none; /* 隱藏下拉式選單箭頭 */
}

.foodMenuNavbar .dropdown-menu{
  border: 1px solid transparent;
}
.foodMenuNavbar .dropdown-item{}

.foodMenuNavbar.foodMenuNavbar .dropdown-item:focus,
.foodMenuNavbar.foodMenuNavbar .dropdown-item:hover{
  background-color: transparent;
}

.foodMenuNavbar .dropdown-item .text{
  width: 40.343px;
  padding-bottom: 4px;
  border-bottom: 2px solid #EB6153;
  color: #898989;
  transition: color .3s ease;
  font-size: 20px;  
}
.foodMenuNavbar .dropdown-item .text:hover{
  color: #EB6153;
}

.foodMenuNavbar .nav-linkImg{
  width: 112.774px;
}

.foodMenuNavbar .nav-linkText{
  /* height: 26.152px; */
  /* width: 56.364px; */
  font-size: 26px;
  margin-top: 20.368px;
  color: #4C4948;
  transition: color .3s ease;
}

.foodMenuNavbar .nav-linkText:hover{
  color: #EB6153;
}