.foodMenuNavbar {
}

.foodMenuNavbar .nav-link {
  margin: 0 45px;
  position: relative;
}

.foodMenuNavbar .nav-link::before,
.foodMenuNavbar .nav-link::after {
  content: '';
  height: calc(100% - 16px); /* padding */
  width: 4px;
  background-color: transparent;
  position: absolute;
}

.foodMenuNavbar .nav-link::before {
  left: 0;
}

.foodMenuNavbar .nav-link::after {
  right: 0;
}

.foodMenuNavbar .dropdown-toggle::after {
  border: none; /* 隱藏下拉式選單箭頭 */
}

.foodMenuNavbar .dropdown-menu {
  border: 1px solid transparent;
}
.foodMenuNavbar .dropdown-item {
}

.foodMenuNavbar.foodMenuNavbar .dropdown-item:focus,
.foodMenuNavbar.foodMenuNavbar .dropdown-item:hover {
  background-color: transparent;
}

.foodMenuNavbar .dropdown-item .text {
  width: 40.343px;
  padding-bottom: 4px;
  border-bottom: 2px solid #eb6153;
  color: #898989;
  transition: color 0.3s ease;
  font-size: 20px;
  pointer-events: none;
}
.foodMenuNavbar .dropdown-item:hover .text {
  color: #eb6153;
}

.foodMenuNavbar .nav-linkImg {
  width: 85px;
  position: relative;
}

.foodMenuNavbar .nav-linkImg::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.25s background-color 0.3s;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.foodMenuNavbar .nav-linkImg:hover::after {
  background-color: rgba(0, 0, 0, 0.25);
}

.foodMenuNavbar .nav-linkText {
  /* height: 26.152px; */
  /* width: 56.364px; */
  font-size: 26px;
  margin-top: 20.368px;
  color: #4c4948;
  transition: color 0.3s ease;
}

.foodMenuNavbar .nav-linkText:hover {
  color: #eb6153;
}

.foodMenuNavbar .dropdown-menu {
  background-color: #fff;
  width: 100%;
}

.foodMenuNavbar + .foodList {
  padding: 0 320px 280px;
  /* 設計稿設定 */
  /* margin-top: 261.058px; */ 
  margin-top: 160.058px; 
}
