.howToUse{
  display: flex;
  flex-wrap: wrap;
  padding: 154.161px 0;
}
.howToUse .textContent{
  margin-left: 220.403px;
  max-width: 634.839px;
}
.howToUse .textContent .title{
  text-align: left;
  width: 280.774px;
  height: 51.505px;

}

.howToUse .textContent .subTitle{
  width: 85.665px;
  height: auto;
  /* height: 17.972px; */
  margin-top: 41.836px;
  /* margin-bottom: 38.646px; */
  margin-bottom: 8.001px;
  font-weight: 700;
  font-size: 20.5px;
}
/* .howToUse .textContent .subTitle::after{
  content: url(../../../assets/images/20200501_content/HTU/H-line.png);
  display: block;
  width: 87.498px;

  margin-bottom: 38.646px;
} */


.howToUse .textContent .subTitleLine{
  background-image: url(../../../assets/images/20200501_content/HTU/H-line.png);
  background-repeat: no-repeat;
  display: block;
  width: 87.498px;
  height: 4px;
  margin-bottom: 38.646px;
}


.howToUse .textContent .content{
  width: 100%;
  font-size: 15px;
  
}

.howToUse .imgArea{
  margin-left: 274.419px;
  width: 522.952px;
  height: 304.065px;
}

/* 步驟 */
.howToUse .steps{
  width: 100%;
  max-width: 100%;
  margin-top: 163.438px;
}

.howToUse .steps .step02,
.howToUse .steps .step03{
  margin-top: 142.406px;
}

/* 步驟 - 01*/
.howToUse .steps .step01{
  display: flex;
}
.howToUse .steps .step01 .textArea{
  position: relative;
  margin-top: 170px;
  margin-left: 274.419px;
  margin-right: auto;
  max-width: 298.166px;

}
.howToUse .steps .step01 .stepImg{
    height: 476px;
    max-width: 778.555px;
    width: 100%;
}

.howToUse .steps .step01 .nextArrow{
  position: relative;
  top: 90.038px;
}

.howToUse .steps .step01 .textArea .title{
  display: flex;
  align-items: flex-end;
}
.howToUse .steps .step01 .textArea .title .img{
  width: 54px;
  height: 57.906px;
}

.howToUse .steps .step01 .textArea .title .text{
  margin-left: 33.933px;
  font-weight: 700;
  font-size: 26px;
}
.howToUse .steps .step01 .textArea .subTitle{
  margin-top: 35.053px;
  
  font-size: 17px;
  letter-spacing: 1.5px;

}


.howToUse .steps .step02{
}
.howToUse .steps .step03{
}
